/* common code start hear */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}


/* nav style start hear  */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
    display: flex;
    align-items: center;

}

.nav-link ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link ul li {
    list-style-type: none;
}


.nav-link ul a {
    text-decoration: none;
    margin-left: 20px;
    text-align: center;

}

.nav-link {
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

.logo-para {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0223;
    margin-left: 15px;
}

.g-style {
    color: #FF42A5;
}


.follow-us {
    /* width: 262px;
    height: 56px; */
    padding: 18px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.icon {
    width: 33px;
    height: 24px;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
}



/* responsive for mobile  */
@media screen and (max-width:576px) {

    .nav {
        flex-direction: column;
        height: 400px;
    }

    .nav-link ul {
        flex-direction: column;

    }

    .link-class {
        margin: 10px;
    }

    .link-div {
        margin-top: 50px;
    }


    /* margin-top: 40px; */
}






}


/* responsive for medium device */
@media screen and (min-width:576px) and (max-width:960px) {}