/* common code start hear */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

.div {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 4;
}

.icon-img {
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    border: 3px solid #FF42A5;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background: #000000;



}

.ok {

    position: absolute;
    top: 42%;
    left: 32%;

}

.icon-img i {
    font-size: 40px;
    color: #FFF;

}

.icon-img P {
    color: #FF42A5;
    font-weight: 700;
}

.icon-img:hover {
    opacity: 0.7;
}









.common-header {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.common-para {
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 10px 0px;

}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 48px;
    background: #FF42A5;

}

.btn1 {
    background: #4EC5F7;
    margin-left: 30px;
}

/* nav style start hear  */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
    display: flex;
    align-items: center;

}

.nav-link ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link ul li {
    list-style-type: none;
}


.nav-link ul a {
    text-decoration: none;
    margin-left: 20px;
    text-align: center;

}

.nav-link {
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

.logo-para {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0223;
    margin-left: 15px;
}

.g-style {
    color: #FF42A5;
}


.follow-us {
    /* width: 262px;
    height: 56px; */
    padding: 18px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.icon {
    width: 33px;
    height: 24px;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
}

/* play like section start hear  */
.play-like {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play-description {
    background-image: url('images/Group\ 14.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.goat {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.play-description p {
    margin: 10px;
}

.play-description button {
    margin-top: 20px;

}

/* we are gamer section  */
.we-are-gamer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}



.gamer-description {
    text-align: end;

}

.gamer-description h3 {
    margin-bottom: 20px;
}

.gamer-description button {
    margin: 20px 0px;
}

.gamer {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description h5 {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}

/* funny videos section  */
.funny-videos-header {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}





.funny-videos-img-div {
    display: grid;
    grid-template-columns: repeat(4, 242px);
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* height: 00px; */

}



/* play section start hear  */
.play {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    text-align: center;
    height: 800px;
}

.play-description {
    text-align: end;
}

.play-img1 {
    width: 500px;
    height: 550px;
}

.play-img2 {
    width: 260px;
    height: 300px;
    position: absolute;
    top: 450px;
    right: 450px;
}

/* all game section  */
.all-game-section {

    /* padding: 40px; */
    height: 350px;
    background-color: #f8f0f4;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.all-game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;




}


.game-div:hover {
    border-radius: 50px;
    border: 2px solid #FF42A5;
    background: #fff;
    color: #FF42A5;
}

.all-game img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.game-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

/* footer section start hear  */
.footer {
    height: 400px;
    color: white;
    background-color: #0B0223;
    text-align: center;
    padding: 60px;


}

.footer-logo {
    justify-content: center;

}

.footer-link {
    margin: 40px 0px;
}

.footer-link a {
    color: white;
    text-decoration: none;
    margin-left: 20px;

}

.g {
    color: white;
}

.footer-img {
    width: 60px;
}

.icons {
    font-size: 40px;
    color: white;

    margin-left: 30px;
    margin-bottom: 30px;
}

.span {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}

.footer-para {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}




/* responsive for mobile  */
@media screen and (max-width:576px) {

    .nav {
        flex-direction: column;
        height: 400px;
        box-shadow: none;
    }

    .nav-link ul {
        flex-direction: column;

    }

    .link-class {
        margin: 10px;
    }

    .link-div {
        margin-top: 50px;
    }

    /* play like section  */
    .play-like,
    .we-are-gamer {
        flex-direction: column;
        text-align: center;
        margin: 30px;
    }

    .gamer-description {
        text-align: center;
    }

    .play-description {
        text-align: center;
    }

    /* funny video part  */
    .funny-videos-img-div {
        grid-template-columns: 1fr;
        gap: 40px;
        margin: 40px;
    }

    .funny-videos-header {
        margin-top: 200px;
    }

    .funny-videos-header p {
        margin: 30px 0px;
    }

    .play {
        flex-direction: column;

    }

    .play-img1 {
        width: 300px;
        height: 300px;
    }



    .play-img2 {
        width: 150px;
        height: 170px;
        top: 625px;
        right: 270px;
    }

    .play-description p {
        margin: 50px 0px;
    }

    /* footer style  */
    .footer {
        height: 600px;
        padding: 20px;
    }

    .footer-icon-link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .span-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .all-game {
        display: grid;
        grid-template-columns: repeat(3, 100px);
    }



    .all-game p {
        font-size: 10px;
    }

    .all-game img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }




}









/* responsive for medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    .funny-videos-img-div {
        grid-template-columns: 1fr;
        gap: 40px;
        margin: 40px;
    }

    .play {
        flex-direction: column;
        text-align: center;

    }

    .we-are-gamer {
        margin: 10px
    }
}